footer {

	position: absolute;
	width: 100%;
	height: $footer-height;
	padding: 0;
	overflow: hidden;
	@include transition(opacity 0.6s);
	z-index: 1;

	&.transition {

		@include transition(opacity 0.6s);

	}

	&.hide {

		display: block;
		opacity: 0;

	}

	&.opacity-1 {

		opacity: 1;

	}

	&.z-index--1 {

		z-index: -1;

	}

	.copyright {

		position: absolute;
		top: 50%;
		@include center-vertical;
		opacity: .2;

	}

	.page-nav-btn {

		opacity: 0.5;
		@include transition(opacity 0.24s);

	}

	& > :not(.social-btn):hover {

		opacity: 1;

	}

}

.ipad {

	footer {

		@include transition(opacity 0.6s);

	}

}

footer.animate {

	@include animation(footer-blink 0.8s);

}

footer.animate-transparent-began {

	@include animation(footer-blink-transparent 0.8s 0s forwards);

}